#aside {
    width: 25%;
    height: 92vh;
    background-color: rgba(227, 211, 240, 0.637);
    overflow-y: hidden;
    overflow-x: auto;
    position: relative;
    inset: 15px 0 0 0;
    margin: 0 auto;
    border-radius: 5px;
    padding: 5px;
}