#homes {
    width: 75%;
    height: max-content;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    transform: translateX(15px);
    position: relative;
    inset: 0;

    #total-data {
        transform: translateY(-12.5em);
        background-color: rgb(0, 255, 136);
        color: #000000;
        text-align: center;
        padding: 5px;
        border-radius: 50%;
    }
    
    hr {
        color: #2723232a;
    }

    #AllHome {
        width: 330px;
        height: max-content;
        margin: 0 1em;
        margin-bottom: 2em;
        margin-top: 1em;
        text-align: center;
        overflow: hidden;
        padding: 7px 0;
        border: 1px solid #2723232a;
        border-radius: 4px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        direction: rtl;
        background-color: rgb(255, 255, 255);

        img {
            transition: all 0.3s ease;
            overflow: hidden;

            &:hover {
                transform: scale(1.23);
                cursor: url("../images/onefinger_icon.png"), auto !important;
            }

            &:hover~#title {
                opacity: 0;
                visibility: hidden;
            }
        }

        #title {
            transition: all 0.1s ease-in-out;
            z-index: 1;
            transform: translate(0, 5px);
            font-size: 1.07em;
            cursor: url("../images/select_text.png"), auto !important;
            background-color: rgb(255, 255, 255);
        }

        #badge {
            display: flex;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            overflow: hidden;
            color: #f5f5f5;
            background-color: rgb(4, 125, 206);
            direction: rtl;
            text-align: center;
            font-size: 1.4rem;
            position: relative;
            inset: 0 5px;
            justify-content: center;
            user-select: none;
        }

        #status {
            display: block;
            transform: translateY(-5px);
            text-decoration: none;
            font-size: larger;
            cursor: url("../images/hand_finger.png"), auto !important;
        }
    }
}