#main {
    width: 100%;
    height: max-content;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    inset: 0;

    #scrollIcon {
        width: 60px;
        height: 60px;
        position: fixed;
        bottom: 0;
        leftn: 0;
        background-color: #ffffff;
        border-radius: 50%;
        margin: 10px;
        opacity: 0;
    }
}